

body {
    font-family: Arial;
    background-color: lightgray;
    margin: 0;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

.main {
    width: 70%;
    float: left;
    padding: 20px;
}

.article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

aside {
    width: 25%;
    float: right;
    background-color: white;
    padding: 15px;
    margin-top: 20px;
}

footer {
    clear: both;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

