h1{
        color:aliceblue;
    }

header{
    text-align: center;
    background-color: rgb(25, 25, 99);
    height:40px;
}

#hollow{
    border: 2px solid red;
    border-radius: 5px;
    background-color: white;
}
button{
    background-color: red;
    display: inline;
    margin-right: 20px;
}
div{
width:400px;
    margin-right:250px;
    margin-left:450px;
    border:2px solid gainsboro;
}
h4{
    color:rgb(13, 123, 51);
    display:inline;
}
#old_price{
    color: #888;
    text-decoration: line-through;

}
p{
    color: rgb(26, 49, 132);
}
#new{
    background-color: rgba(233, 231, 228, 0.775);
}