
/* This is my simple CSS file */

body {
    font-family: Arial;
    background-color: lightgray;
    margin: 0;
}

/* Header style */
header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Navigation bar */
nav {
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

/* Main content */
.main {
    width: 70%;
    float: left;
    padding: 20px;
}

/* Each article */
.article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}

/* Images */
img {
    width: 100%;
}

/* Sidebar */
aside {
    width: 25%;
    float: right;
    background-color: white;
    padding: 15px;
    margin-top: 20px;
}

/* Footer */
footer {
    clear: both;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
